body{
    background-color: #0f1115;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #dedede;
    font-family: 'Google Sans', sans-serif;
}


.seat{
    background-color: #444451;
    height: 15px;
    width: 15px;
    margin: 3px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.seat.selected{
    background-color: #22c55e;
    color: #000000;
}

#selected {
    background-color: #22c55e;
}

.seat.reserved{
    background-color: #fff;
    color: #000000;
}

.seat:not(.reserved):hover{
    cursor: pointer;
    transform: scale(1.3);
}

.row{
    display: flex;
    align-items: center;
}

.row-2{
    display: flex;
}

.masa{
    background-color: #94580549;
    height: 50px;
    width: 100%;
    margin: 20px 0;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    border-radius: 12px;
}

#numara {
    width: 100%;
    height: 100%;
    font-size: 20px;
    margin:10px 0;
    padding:10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#f8f8f8;
}

.masa-list{
    margin: 20px 0;
    text-align: end;
}

.info {
    background-color: rgb(0, 0, 0, 0.2);
    padding: 5px 10px;
    color: #777;
    display: flex;
}

.info li{
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.info li small {
    margin: 0 25px;
    color: #b9b9b9;
}

p.text span{
    color: #22c55e;
}